/* Custom Select Boxes by http://www.lingulo.com */
body
{
    background: #33393E;
    font-size: 12px;
    font-weight: 300;    
    font-family: 'Open Sans', sans-serif;
}
.lingulo-select
{
    width: 100%;
    max-width: 400px;
    position: relative;
    text-align: center;
    margin: 150px auto 0 auto;
}
.lingulo-select i
{
    margin-right: 15px;
}
.lingulo-select div.lg-select
{
    font-size: 2em;
    display: block;
    vertical-align: middle;
    text-align: left;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    position: relative;
    top: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    background: #EF5C45;
    color: #ffffff;
    text-shadow: rgb(215, 83, 62) 1px 1px,
    rgb(215, 83, 62) 2px 2px,
    rgb(215, 83, 62) 3px 3px,
    rgb(215, 83, 62) 4px 4px,
    rgb(215, 83, 62) 5px 5px,
    rgb(215, 83, 62) 6px 6px,
    rgb(215, 83, 62) 7px 7px,
    rgb(215, 83, 62) 8px 8px,
    rgb(215, 83, 62) 9px 9px,
    rgb(215, 83, 62) 10px 10px,
    rgb(216, 83, 62) 11px 11px,
    rgb(218, 84, 62) 12px 12px,
    rgb(219, 84, 63) 13px 13px,
    rgb(221, 85, 63) 14px 14px,
    rgb(223, 86, 64) 15px 15px,
    rgb(224, 86, 64) 16px 16px,
    rgb(226, 87, 65) 17px 17px,
    rgb(227, 87, 65) 18px 18px,
    rgb(229, 88, 66) 19px 19px,
    rgb(231, 89, 66) 20px 20px,
    rgb(232, 89, 67) 21px 21px,
    rgb(234, 90, 67) 22px 22px,
    rgb(235, 90, 68) 23px 23px,
    rgb(237, 91, 68) 24px 24px,
    rgb(239, 92, 69) 25px 25px;
    box-shadow: rgb(47, 53, 58) 1px 1px,
    rgb(47, 53, 58) 2px 2px,
    rgb(47, 53, 58) 3px 3px,
    rgb(47, 53, 58) 4px 4px,
    rgb(47, 53, 58) 5px 5px,
    rgb(47, 53, 58) 6px 6px,
    rgb(47, 53, 58) 7px 7px,
    rgb(47, 53, 58) 8px 8px,
    rgb(47, 53, 58) 9px 9px,
    rgb(47, 53, 58) 10px 10px,
    rgb(47, 53, 58) 11px 11px,
    rgb(47, 53, 58) 12px 12px,
    rgb(47, 53, 58) 13px 13px,
    rgb(47, 53, 58) 14px 14px,
    rgb(47, 53, 58) 15px 15px,
    rgb(47, 53, 58) 16px 16px,
    rgb(47, 53, 58) 17px 17px,
    rgb(47, 53, 58) 18px 18px,
    rgb(47, 53, 58) 19px 19px,
    rgb(47, 53, 58) 20px 20px,
    rgb(47, 53, 58) 21px 21px,
    rgb(47, 53, 58) 22px 22px,
    rgb(47, 53, 58) 23px 23px,
    rgb(47, 53, 58) 24px 24px,
    rgb(47, 53, 58) 25px 25px,
    rgb(47, 53, 58) 26px 26px,
    rgb(47, 53, 58) 27px 27px,
    rgb(47, 53, 58) 28px 28px,
    rgb(47, 53, 58) 29px 29px,
    rgb(47, 53, 58) 30px 30px,
    rgb(47, 53, 58) 31px 31px,
    rgb(47, 53, 58) 32px 32px,
    rgb(47, 53, 58) 33px 33px,
    rgb(47, 53, 58) 34px 34px,
    rgb(47, 53, 58) 35px 35px,
    rgb(47, 53, 58) 36px 36px,
    rgb(47, 53, 58) 37px 37px,
    rgb(47, 53, 58) 38px 38px,
    rgb(47, 53, 58) 39px 39px,
    rgb(47, 53, 58) 40px 40px,
    rgb(47, 53, 58) 41px 41px,
    rgb(47, 53, 58) 42px 42px,
    rgb(47, 53, 58) 43px 43px,
    rgb(47, 53, 58) 44px 44px,
    rgb(47, 53, 58) 45px 45px,
    rgb(47, 53, 58) 46px 46px,
    rgb(47, 53, 58) 47px 47px,
    rgb(47, 53, 58) 48px 48px,
    rgb(47, 53, 58) 49px 49px,
    rgb(47, 53, 58) 50px 50px,
    rgb(47, 53, 58) 51px 51px,
    rgb(48, 54, 59) 52px 52px,
    rgb(48, 54, 59) 53px 53px,
    rgb(48, 54, 59) 54px 54px,
    rgb(48, 54, 59) 55px 55px,
    rgb(48, 54, 59) 56px 56px,
    rgb(48, 54, 59) 57px 57px,
    rgb(48, 54, 59) 58px 58px,
    rgb(48, 54, 59) 59px 59px,
    rgb(48, 54, 59) 60px 60px,
    rgb(48, 54, 59) 61px 61px,
    rgb(49, 55, 60) 62px 62px,
    rgb(49, 55, 60) 63px 63px,
    rgb(49, 55, 60) 64px 64px,
    rgb(49, 55, 60) 65px 65px,
    rgb(49, 55, 60) 66px 66px,
    rgb(49, 55, 60) 67px 67px,
    rgb(49, 55, 60) 68px 68px,
    rgb(49, 55, 60) 69px 69px,
    rgb(49, 55, 60) 70px 70px,
    rgb(49, 55, 60) 71px 71px,
    rgb(50, 56, 61) 72px 72px,
    rgb(50, 56, 61) 73px 73px,
    rgb(50, 56, 61) 74px 74px,
    rgb(50, 56, 61) 75px 75px,
    rgb(50, 56, 61) 76px 76px,
    rgb(50, 56, 61) 77px 77px,
    rgb(50, 56, 61) 78px 78px,
    rgb(50, 56, 61) 79px 79px,
    rgb(50, 56, 61) 80px 80px,
    rgb(51, 57, 62) 81px 81px;
}

.lingulo-select div.lg-select select
{
    display: none;
}

.lingulo-select div.lg-select span
{
    display: block;
    position: relative;
    cursor: pointer;
    padding: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.lingulo-select .lg-options
{    
    overflow: hidden;
    position: relative;
    top: 200px;
    width: 100%;
    max-width: 400px;
    visibility: hidden;
    overflow: hidden;
    z-index: 200;
    background: #EF5C45;
    opacity: 0;
    z-index: 1000;
    max-height: 0;
    -webkit-transition: all 1s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: all 1s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    -ms-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

.lingulo-select.showit .lg-options::-webkit-scrollbar
 {
    width: 7px;
    border-radius: 12px;
 }
.lingulo-select.showit .lg-options::-webkit-scrollbar-track
{
    background-color: #EF5C45;
    border-radius: 12px;
}
.lingulo-select.showit .lg-options::-webkit-scrollbar-thumb
{
    background-color: #FF886B;
    border-radius: 12px;
}

.lingulo-select .lg-options > ul
{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 25px;
    /* IE 7 Hack */
    * + padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.lingulo-select .lg-options > ul li
{
    margin: 10px 0;
    padding: 6px;
    color: #fff;
    font-size: 1.6em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
}

.lingulo-select .lg-options > ul li:hover
{
    background: #ff886b;
    cursor: pointer;
    -webkit-transition: all 0.25s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: all 0.25s cubic-bezier(0.75, 0.25, 0.10, 0.95);
}


/*-----------------------------------------
Style 1
-----------------------------------------*/
.lingulo-select.showit div.lg-select.style1
{
    box-shadow: none;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
}

.lingulo-select.showit div.lg-select.style1 + .lg-options
{
    opacity: 1;
    top: -150px;
    visibility: visible;
    -webkit-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

/*-----------------------------------------
Style 2
-----------------------------------------*/
.lingulo-select div.lg-select.style2
{
    -webkit-transition: min-height 0.75s cubic-bezier(0.455, 0.030, 0.515, 0.955), border-radius 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955), top 0.5s cubic-bezier(1.000, 0.000, 0.000, 1.000) 0.4s;
    transition: min-height 0.75s cubic-bezier(0.455, 0.030, 0.515, 0.955), border-radius 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955), top 0.5s cubic-bezier(1.000, 0.000, 0.000, 1.000) 0.4s;
}
.lingulo-select.showit div.lg-select.style2
{
    box-shadow: none;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: min-height 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.5s, border-radius 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.3s, top 0.5s cubic-bezier(1.000, 0.000, 0.000, 1.000);
    transition: min-height 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.5s, border-radius 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.3s, top 0.5s cubic-bezier(1.000, 0.000, 0.000, 1.000);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    min-height: 400px;    
    top: -80px;
}

.lingulo-select div.lg-select.style2 span
{
    -webkit-transition: all 0.7s ease 0.5s;
    transition: all 0.7s ease 0.5s;
}

.lingulo-select.showit div.lg-select.style2 span
{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.lingulo-select div.lg-select.style2 + .lg-options
{
    position: absolute;
    top: 100px;
    left: 0;
    -webkit-transition: top 0.25s ease 0.5, opacity 0.5s ease, max-height 0.5s ease;
    transition: top 0.25s ease 0.5, opacity 0.5s ease, max-height 0.5s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.lingulo-select.showit div.lg-select.style2 + .lg-options
{
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95), top 0.25s ease 0.25s;
    transition: opacity 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95), top 0.25s ease 0.25s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
}

/*-----------------------------------------
Style 3
-----------------------------------------*/
.lingulo-select div.lg-select.style3
{
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.lingulo-select.showit div.lg-select.style3
{
    -webkit-transition: opacity 0.75s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: opacity 0.75s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    opacity: 0;
}

.lingulo-select div.lg-select.style3 + .lg-options
{
    -webkit-transition: all 0.75s cubic-bezier(0.75, 0.25, 0.10, 0.95) 0.25s;
    transition: all 0.75s cubic-bezier(0.75, 0.25, 0.10, 0.95) 0.25s;
    max-height: 2500px;
    max-width: 9500px;
    background: rgba(255, 255, 255, 0);
    position: fixed;
    top: -2000px;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    overflow: hidden;
    overflow-y: auto;
}

.lingulo-select.showit div.lg-select.style3 + .lg-options
{
    opacity: 1;
    visibility: visible;
    top: 0;
    background: rgba(239, 92, 69, 0.75);
    -webkit-transition: opacity 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95), top 0.75s cubic-bezier(.32,.92,.67,1);
    transition: opacity 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95), top 0.75s cubic-bezier(.32,.92,.67,1);
}

.lingulo-select div.lg-select.style3 + .lg-options ul
{
    width: 100%;
    height: 100%;
    display: block;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    max-height: 2500px;
}

.lingulo-select div.lg-select.style3 + .lg-options ul li
{
    width: initial;
    min-width: 25%;
    height: auto;
    min-height: 20%;
    display: block;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
    flex-grow: 1;
    margin: 0;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.10, 0.95);
}

.lingulo-select div.lg-select.style3 + .lg-options ul li:hover
{
    background: transparent;
}

.lingulo-select div.lg-select.style3 + .lg-options ul li span
{
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.75s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: all 0.75s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    opacity: 0;
    display: block;
}

.lingulo-select.showit div.lg-select.style3 + .lg-options ul li span
{
    text-align: center;
    padding: 15%;
    opacity: 1;
    font-size: 1.3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -webkit-transition: all 2s cubic-bezier(0.75, 0.25, 0.10, 0.95) 0.2s;
    transition: all 2s cubic-bezier(0.75, 0.25, 0.10, 0.95) 0.2s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.lingulo-select.showit div.lg-select.style3 + .lg-options ul li span:hover
{
    -webkit-transition: all 0.75s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    transition: all 0.75s cubic-bezier(0.75, 0.25, 0.10, 0.95);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    color: #fff;
    text-shadow: 0;
}

@supports(text-shadow: 0 0 5px #fff)
{
    .lingulo-select.showit div.lg-select.style3 + .lg-options ul li span
    {
        color: transparent;
        text-shadow: 0 0 5px #fff;
    }
}

@media all and (max-width: 900px)
{
    .lingulo-select.showit div.lg-select.style3 + .lg-options ul li span
    {
        font-size: 1em;
    }
}

@media all and (max-width: 500px)
{
  .lingulo-select div.lg-select.style3 + .lg-options ul, .lingulo-select div.lg-select.style3 + .lg-options ul li
  {
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  }
  .lingulo-select div.lg-select.style3 + .lg-options ul li span, .lingulo-select.showit div.lg-select.style3 + .lg-options ul li span
  {
    padding: 1em;
    color: #fff;
  }  
  .lingulo-select div.lg-select.style3 + .lg-options ul li
  {
    min-height: 10%;
  }
}